<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<body>
	<nav class="navbar navbar-expand-lg fixed-top bg-light" layout:fragment="nav">
		<div class="container">
			<a class="navbar-brand" th:href="@{/trips/index}">Triplanner</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/trips/new}">
							<img src="/images/icons/new.png" th:src="@{/images/icons/new.png}">
						</a>
					</li>
					<li class="nav-item">
						<img src="/images/icons/heart.png" th:src="@{/images/icons/heart.png}">
					</li>
					<li class="nav-item">
						<img src="/images/icons/setting.png" th:src="@{/images/icons/setting.png}">
					</li>
					<li class="nav-item">
						<img src="/images/icons/logout.png" th:src="@{/images/icons/logout.png}">
					</li>
				</ul>
			</div>
		</div>
	</nav>
</body>

</html>