<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Triplanner</title>
</head>

<body>
	<div class="trips-itinerary-wrapper" layout:fragment="contents">
		<div class="container" th:object="${itineraryForm}">
			<h1 class="text-center">旅程確認</h1>
			<div class="row">
				<div class="col">
					<h2 th:text="*{tripTitle}"></h2>
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">日程</th>
								<th scope="col">行動</th>
								<th scope="col">時刻</th>
								<td> </td>
								<td> </td>
								<th scope="col">内容</th>
							</tr>
						</thead>
						<tbody>
						<tbody><!-- ここから繰り返し -->
							<th:block th:each="i : ${#numbers.sequence(0, #object.rowSequences.size() - 1)}">
								<!-- 偶数行(0スタート) -->
								<th:block th:if="${#object.rowSequences[i] % 2 == 0}">
									<tr>
										<td th:text="${#temporals.day(#object.startTimes[i])}"></td>
										<td th:text="${#object.purposeStrings[i]}"></td>
										<td th:text="${#temporals.format(#object.startTimes[i], 'HH:mm')}">9:10</td>
										<td>～</td>
										<td th:text="${#temporals.format(#object.endTimes[i], 'HH:mm')}">9:45</td>
										<td><span
												th:text="${#object.departureNames[i]} + '&nbsp;&rArr;&nbsp;' + ${#object.arrivalNames[i]}"></span><br>
											<span th:text="${#object.descriptions[i]}"></span>
										</td>
									</tr>
								</th:block>
								<!-- 奇数行(0スタート) -->
								<th:block th:if="${#object.rowSequences[i] % 2 != 0}">
									<tr>
										<td th:text="${#temporals.day(#object.startTimes[i])}"></td>
										<td th:text="${#object.purposeStrings[i]}"></td>
										<td th:text="${#temporals.format(#object.startTimes[i], 'HH:mm')}">9:10</td>
										<td>～</td>
										<td th:text="${#temporals.format(#object.endTimes[i], 'HH:mm')}">9:45</td>
										<td><span th:text="${#object.titles[i]}"></span><BR>
											<span th:text="${#object.descriptions[i]}"></span>
										</td>
									</tr>
								</th:block>
							</th:block>
						</tbody><!-- ここまで繰り返し -->
						</tbody>
					</table>
				</div>
			</div><!-- row閉じ -->
			<div class="row mb-2">
				<div class="col-auto">
					<label for="publicOption" class="col-form-label">投稿設定</label>
					<p id="publicOption" th:text="*{publicString}"></p>
				</div>
			</div><!-- row閉じ -->
			<div class="row mb-4">
				<label for="tags" class="col-form-label">タグ</label>
				<div class="col-auto">
					<th:block th:each="tag, index : ${#object.tagStrings}">
						<span th:text="${tag}"></span>
						<span th:if="${!index.last}">, </span>
					</th:block>
				</div>
			</div><!-- row閉じ -->
			<div class="row mb-2">
				<div class="col-auto">
					<button type="submit" class="btn btn-primary" form="submit" formaction="">旅程を登録する</button>
				</div>
			</div><!-- row閉じ -->
			<div class="row">
				<div class="col-auto">
					<button type="submit" class="btn btn-primary" form="submit"
						formaction="/trips/itinerary">戻る</button>
				</div>
			</div><!-- row閉じ -->
			<form id="submit" method="post"><!-- データ送信用 -->
				<input type="hidden" th:each="rowSequence : ${#object.rowSequences}" name="rowSequences"
					th:value="${rowSequence}">
				<input type="hidden" th:each="purposeId : ${#object.purposeIds}" name="purposeIds"
					th:value="${purposeId}">
				<input type="hidden" th:each="startTime : ${#object.startTimes}" name="startTimes"
					th:value="${startTime}">
				<input type="hidden" th:each="endTime : ${#object.endTimes}" name="endTimes" th:value="${endTime}">
				<input type="hidden" th:each="departurePrefectureId : ${#object.departurePrefectureIds}"
					name="departurePrefectureIds" th:value="${departurePrefectureId}">
				<input type="hidden" th:each="departureName : ${#object.departureNames}" name="departureNames"
					th:value="${departureName}">
				<input type="hidden" th:each="arrivalName : ${#object.arrivalNames}" name="arrivalNames"
					th:value="${arrivalName}">
				<input type="hidden" th:each="title : ${#object.titles}" name="titles" th:value="${title}">
				<input type="hidden" th:each="description : ${#object.descriptions}" name="descriptions"
					th:value="${description}">

				<input type="hidden" name="tripTitle" th:value="*{tripTitle}">
				<input type="hidden" name="publicId" th:value="*{publicId}">
				<input type="hidden" th:each="tagId : ${#object.tagIds}" name="tagIds" th:value="${tagId}">
				<input type="hidden" name="fromConfirm" th:value="true">
			</form>
		</div>
	</div>
</body>

</html>