<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Triplanner</title>
</head>

<body>
	<div class="topics-index-wrapper" layout:fragment="contents">
		<div class="container mb-3">
			<form class="gy-2 gx-3 align-items-center">
				<div class="row justify-content-end align-items-end">
					<div class="col-auto">
						<label class="form-label" for="selectedDay">旅の日数</label>
						<select class="form-select" id="selectedDay" name="selectedDay">
							<option selected>日数指定なし</option>
							<option value="1">1日</option>
							<option value="2">2日</option>
							<option value="3">3日</option>
							<option value="4">4日</option>
							<option value="5">5日以上</option>
						</select>
					</div>
					<!-- 出発エリア選択 -->
					<div class="col-auto">
						<label class="form-label" for="departurePrefecture">出発エリア</label>
						<select class="form-select" id="departurePrefecture" name="departurePrefecture">
							<option selected>全エリア</option>
							<th:block th:each="prefecture : ${prefectures}">
								<option name="departurePrefecture" th:value="${prefecture.id}"
									th:text="${prefecture.name}" />
							</th:block>
						</select>
					</div>
					<!-- 経由エリア選択 -->
					<div class="col-auto">
						<label for="waypointsPrefecture" class="form-label">経由エリア</label>
						<button id="waypointsPrefecture" class="form-select" type="button" data-bs-toggle="dropdown"
							data-bs-auto-close="outside" aria-expanded="false">
							経由エリアを選択
						</button>
						<ul class="dropdown-menu overflow-auto" style="height: 200px">
							<th:block th:each="prefecture : ${prefectures}">
								<label class="dropdown-item">
									<input class="form-check-input" type="checkbox" name="waypoints" th:value="${prefecture.id}"
										th:text="${prefecture.name}" />
								</label>
							</th:block>
						</ul>
					</div>
					<div class="col-auto">
						<label for="tags" class="form-label">タグ</label>
						<button id="tags" class="form-select" type="button" data-bs-toggle="dropdown"
							data-bs-auto-close="outside" aria-expanded="false">
							タグ選択
						</button>
						<ul class="dropdown-menu overflow-auto" style="height: 200px">
							<th:block th:each="tag : ${tags}">
								<label class="dropdown-item">
									<input class="form-check-input" type="checkbox" name="tags" th:value="${tag.id}"
										th:text="${tag.name}" />
								</label>
							</th:block>
						</ul>
					</div>
					<div class="col-auto">
						<div id="searchButton" class="btn-group" role="group"
							aria-label="Button group with nested dropdown">
							<button type="button" class="btn btn-primary">検索</button>
							<div class="btn-group" role="group">
								<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
									aria-expanded="false">
								</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="#">自分の投稿のみ表示</a></li>
									<li><a class="dropdown-item" href="#">自分の削除した投稿のみ表示</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="container">
			<div class="row row-cols-1 row-cols-lg-2 row-cols-xxl-3 g-4">
				<div class="col">
					<div class="card h-100">
						<iframe class="card-img-top" width="600" height="400" style="border:0" loading="lazy"
							allowfullscreen referrerpolicy="no-referrer-when-downgrade"
							th:src="@{|https://www.google.com/maps/embed/v1/place?key=${@environment.getProperty('googlemap.key')}&q=Space+Needle,Seattle+WA|}">
						</iframe>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in
								to
								additional content. This content is a little bit longer.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<iframe class="card-img-top" width="600" height="400" style="border:0" loading="lazy"
							allowfullscreen referrerpolicy="no-referrer-when-downgrade"
							th:src="'https://www.google.com/maps/embed/v1/directions?key=' + ${@environment.getProperty('googlemap.key')} + '&origin=東京駅&destination=大阪駅&waypoints=神奈川駅|名古屋駅'">
						</iframe>
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a short card.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in
								to
								additional content.</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="card h-100">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">This is a longer card with supporting text below as a natural lead-in
								to
								additional content. This content is a little bit longer.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination justify-content-center">
				<li class="page-item disabled">
					<a class="page-link">Previous</a>
				</li>
				<li class="page-item"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item">
					<a class="page-link" href="#">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</body>

</html>