<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Triplanner</title>
</head>

<body>
	<div class="trips-itinerary-wrapper" layout:fragment="contents">
		<div class="container">
			<h1 class="text-center">旅程作成</h1>
			<form id="submit" action="#" method="post" th:object="${itineraryForm}">
				<div class="row">
					<div class="col">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">日程</th>
									<th scope="col">時刻</th>
									<td></td>
									<td></td>
									<th scope="col">行動</th>
									<th scope="col">内容</th>
								</tr>
							</thead>
							<tbody><!-- ここから繰り返し -->
								<th:block th:each="i : ${#numbers.sequence(0, #object.rowSequences.size() - 1)}">
									<!-- 偶数行(行番号は0スタート) -->
									<th:block th:if="${#object.rowSequences[i] % 2 == 0}">
										<tr>
											<input type="hidden" name=rowSequences
												th:value="${#object.rowSequences[i]}">
											<td th:text="${#temporals.day(#object.startTimes[i])}"></td>
											<td th:text="${#temporals.format(#object.startTimes[i], 'HH:mm')}">00:00
											</td>
											<input type="hidden" name="startTimes"
												th:value="${#object.startTimes[i]}"><!-- hidden -->
											<td>～</td>
											<td th:text="${#temporals.format(#object.endTimes[i], 'HH:mm')}">00:00</td>
											<input type="hidden" name="endTimes"
												th:value="${#object.endTimes[i]}"><!-- hidden -->
											<td><select name="purposeIds" class="form-select">
													<th:block th:each="purpose : ${purposes}">
														<option th:value="${purpose.id}" th:text="${purpose.purpose}"
															th:selected="${purpose.id == #object.purposeIds[i]}">
														</option>
													</th:block>
												</select></td>
											<input type="hidden" name="departurePrefectureIds"
												th:value="${#object.departurePrefectureIds[i]}"><!-- hidden -->
											<td><span
													th:text="${#object.departureNames[i]} + '&nbsp;&rArr;&nbsp;' + ${#object.arrivalNames[i]}"></span><br>
												<textarea class="form-control" rows="1" name="descriptions"
													placeholder="内容" th:text="${#object.descriptions[i]}">内容</textarea>
											</td>
											<input type="hidden" name="departureNames"
												th:value="${#object.departureNames[i]}"><!-- hidden -->
											<input type="hidden" name="arrivalNames"
												th:value="${#object.arrivalNames[i]}"><!-- hidden -->
											<input type="hidden" name="titles"
												th:value="${#object.titles[i]}"><!-- hidden -->
										</tr>
									</th:block>
									<!-- 奇数行(行番号は0スタート) -->
									<th:block th:if="${#object.rowSequences[i] % 2 != 0}">
										<tr>
											<input type="hidden" name=rowSequences
												th:value="${#object.rowSequences[i]}">
											<td th:text="${#temporals.day(#object.startTimes[i])}"></td>
											<td th:text="${#temporals.format(#object.startTimes[i], 'HH:mm')}">00:00
											</td>
											<input type="hidden" name="startTimes"
												th:value="${#object.startTimes[i]}"><!-- hidden -->
											<td>～</td>
											<td th:text="${#temporals.format(#object.endTimes[i], 'HH:mm')}">00:00</td>
											<input type="hidden" name="endTimes"
												th:value="${#object.endTimes[i]}"><!-- hidden -->
											<td><select name="purposeIds" class="form-select">
													<th:block th:each="purpose : ${purposes}">
														<option th:value="${purpose.id}" th:text="${purpose.purpose}"
															th:selected="${purpose.id == #object.purposeIds[i]}">
														</option>
													</th:block>
												</select></td>
											<td><input class="form-control" type="text" name="titles" placeholder="タイトル"
													th:value="${#object.titles[i]}">
												<div class="w-100"></div>
												<textarea class="form-control" style="height: 100px" name="descriptions"
													placeholder="内容" th:text="${#object.descriptions[i]}">内容</textarea>
											</td>
											<input type="hidden" name="departurePrefectureIds"
												th:value="${#object.departurePrefectureIds[i]}"><!-- hidden -->
											<input type="hidden" name="departureNames"
												th:value="${#object.departureNames[i]}"><!-- hidden -->
											<input type="hidden" name="arrivalNames"
												th:value="${#object.arrivalNames[i]}"><!-- hidden -->
										</tr>
									</th:block> <!-- ここまで繰り返し -->
								</th:block>
							</tbody>
						</table>
						<p th:if="${#fields.hasErrors('titles')}" th:errors="*{titles}"
							th:errorclass="error-message">
						</p>
					</div>
				</div> <!-- row閉じ ここまで旅程表-->
				<!-- 旅のタイトル-->
				<div class="row mb-3">
					<div class="col-md-4">
						<label for="tripTitle" class="form-label">旅のタイトル</label>
						<div class="w-100"></div>
						<input class="form-control" type="text" id="tripTitle" name="tripTitle" placeholder="旅のタイトル"
							th:value="${#object.tripTitle}">
						<p th:if="${#fields.hasErrors('tripTitle')}" th:errors="*{tripTitle}"
							th:errorclass="error-message">
						</p>
					</div>
				</div>
				<!-- タグをDBから取得して表示する-->
				<div class="row mb-3">
					<label class="form-label">タグ</label>
					<div class="col-md-4">
						<th:block th:each="tag : ${tags}">
							<div class="form-check form-check-inline">
								<label class="form-check-label" th:for="${'tag' + tag.id}"
									th:text="${tag.name}">tagname</label>
								<input class="form-check-input" type="checkbox" th:id="${'tag' + tag.id}" name="tagIds"
									th:value="${tag.id}" th:checked="${#lists.contains(#object.tagIds, tag.id)}">
							</div>
						</th:block>
					</div>
					<p th:if="${#fields.hasErrors('tagIds')}" th:errors="*{tagIds}" th:errorclass="error-message">
					</p>
				</div><!-- row閉じ  ここまでがタグ-->
				<!-- 公開オプションをDBから取得して表示する-->
				<div class="row mb-4">
					<div class="col-auto">
						<label for="publicOption" class="form-label">投稿設定</label>
						<select id="publicOption" name="publicId" class="form-select">
							<th:block th:each="publicOption : ${publicOptions}">
								<option th:value="${publicOption.id}" th:text="${publicOption.name}"
									th:selected="${publicOption.id == #object.publicId}"></option>
							</th:block>
						</select>
					</div>
				</div><!-- row閉じ ここまで公開オプション-->
			</form>
			<div class="row mb-3">
				<div class="col-auto">
					<button type="submit" class="btn btn-primary" form="submit"
						formaction="/trips/confirm">旅程確認画面へ進む</button>
				</div>
			</div><!-- row閉じ -->
			<div class="row mb-3">
				<div class="col-auto">
					<button type="submit" class="btn btn-primary" form="submit" formaction="/trips/new">戻る</button>
				</div>
			</div><!-- row閉じ -->
		</div>
	</div>
</body>

</html>