<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<title>Triplanner</title>
</head>

<body>
	<div class="trips-new-wrapper text-center" layout:fragment="contents">
		<div class="container">
			<h1>旅作成</h1>
			<div class="row">
				<div class="col-md-5">
					<div id="map"></div>
				</div>
				<div class="col-md-7  bg-body-tertiary scrollable">
					<form id="nextPage" action="/trips/itinerary" method="post" th:object="${tripsNewForm}">
						<table border="1">
							<tr>
								<th>日程</th>
								<th>到着時間</th>
								<th>出発時間</th>
								<th>滞在時間</th>
								<th>ピン</th>
								<th>場所</th>
							</tr>
							<tr>
								<td>1日目</td>
								<td>-</td>
								<td><input type="time" name="enteredDepartTimeValue" value="08:00"
										th:value="${#temporals.format(#object.departTimes[0], 'HH:mm')}"
										class="entered-start-time changeTime"></td>
								<input type="hidden" name="departTimes"><!-- hidden -->
								<td>-</td>
								<td class="pinName"></td>
								<td><input type="text" name="placeNames" class="placeName" placeholder="旅の出発地"
										value="東京駅" th:value="${#object.placeNames[0]}"></td>
								<input type="hidden" name="latitudes"><!-- hidden -->
								<input type="hidden" name="longitudes"><!-- hidden -->
							</tr>
							<tbody id="sortableRow">
								<!-- ここからthymeleafで経由地作成 -->
								<th:block th:each="i : ${#numbers.sequence(0, #object.placeNames.size() - 3)}">
									<tr>
										<td class="days"></td>
										<input type="hidden" name="days"><!-- hidden -->
										<td class="arrival-times"></td>
										<input type="hidden" name="arrivalTimes"><!-- hidden -->
										<td class="depart-times"></td>
										<input type="hidden" name="departTimes"><!-- hidden -->
										<td><input type="time" value="01:00"
												th:value="${#temporals.format(#object.stayTimes[i], 'HH:mm' )}"
												name="stayTimes" class="entered-stay-times changeTime">
										</td>
										<td class="pinName"></td>
										<td><input type="text" name="placeNames" class="waypoint placeName"
												placeholder="経由地" value="大阪駅" th:value="${#object.placeNames[i + 1]}">
										</td>
										<input type="hidden" name="latitudes"><!-- hidden -->
										<input type="hidden" name="longitudes"><!-- hidden -->
										<td><button class="handle btn btn-sm" type="button">
												<i class="bi bi-list"></i></button>
										</td>
										<td><button class="deletePlaceNameField btn btn-sm" type="button">
												<i class="bi bi-x-square"></i></button></td>
									</tr>
								</th:block>
								<!-- ここまでthymeleafで経由地作成 -->
							</tbody>
							<tr>
								<td class="days"></td>
								<input type="hidden" name="days"><!-- hidden -->
								<td class="arrival-times"></td>
								<input type="hidden" name="arrivalTimes"><!-- hidden -->
								<td>-</td>
								<td>-</td>
								<td class="pinName"></td>
								<td><input type="text" name="placeNames" class="placeName" placeholder="旅の終わりの地点"
										th:value="${#object.placeNames[#object.placeNames.size() - 1]}"></td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><button class="btn" type="button" id="addPlaceNameField">
										<i class="bi bi-plus-circle-dotted"></i></button></td>
							</tr>
						</table>
						<!-- 次ページでユーザが選択した値保持 -->
						<input type="hidden" name="tripTitle" th:value="${#object.tripTitle}">
						<th:block th:each="tagId : ${#object.tagIds}">
							<input type="hidden" name="tagIds" th:value="${tagId}">
						</th:block>
						<input type="hidden" name="publicId" th:value="${#object.publicId}">
					</form>

					<!--ルート検索ボタン-->
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="permitHighways" checked>
						<label class="form-check-label" for="permitHighways">有料道路を通る</label>
					</div>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" role="switch" id="optimizeWaypoints">
						<label class="form-check-label" for="optimizeWaypoints">経由地を最適なルートに並び替え</label>
					</div>
					<div th:if="${hasMessage}">
						<div class="d-grid justify-content-md-end">
							<span th:text="${message}" class="error-message"></span>
						</div>
					</div>
					<div class="d-grid justify-content-md-end">
						<button class="btn btn-outline-primary" type="button" id="routeSearch">ルート検索
							<i class="bi bi-search"></i></button>
					</div>

					<!--旅程作成ボタン-->
					<div class="d-grid justify-content-md-end">
						<button type="submit" class="btn btn-outline-primary" form="nextPage">旅程作成に進む</button>
					</div>

					<!--場所検索ボタン-->
					<br />
					<b>場所を確認してから経由地に追加</b>
					<br />
					<input type="text" class="place-search form-control" id="searchPlaceName">
					<div class="d-grid justify-content-md-end">
						<button class="btn btn-outline-primary" type="button" id="submitPlaceName">場所を確認
							<i class="bi bi-search"></i></button>
					</div>
					<br>
					<b>マップ中心付近の飲食店を検索</b>
					<br />
					<button class="btn btn-outline-primary" type="button" id="searchShop">お店を検索
						<i class="bi bi-search"></i></button>
					<b>ショップ検索結果</b>
					<div id="result"></div>
					<!-- ホットペッパーグルメのクレジット表示 -->
					<a href="http://webservice.recruit.co.jp/">
						<img src="http://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパーグルメ Webサービス"
							width="135" height="17" border="0" title="ホットペッパーグルメ Webサービス"></a>

				</div>
			</div>
		</div><!-- ここまでclass=containerのタグ -->
		<script
			th:src="@{'https://maps.googleapis.com/maps/api/js?key=' + ${@environment.getProperty('googlemap.key')} + '&callback=initMap&libraries=places&v=weekly'}"
			defer></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js"
			integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/sortablejs-make/Sortable.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
		<!-- dayjsインポート -->
		<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.10/dayjs.min.js"></script>

		<script src="/js/tripTableHandle.js"></script>
		<script src="/js/googleMapHandle.js"></script>

	</div>

</body>

</html>